*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    width: 60%;
}

h1,p{
    text-align: center;
    margin-top: 20px;
}

.container{
    margin-top: 20px;
}

.container::after{
    content: "";
    clear: both;
    display: table;

}

.card{
    background-color: black;
    width: calc(100% / 3 - 10px);
    float: left;
    padding: 10px;
    margin: 5px;
}