*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    width: 60%;
    font-family: 'Sora', sans-serif;
}

.title{
    color: #E53170;
}

header{
    text-align: center;
    margin-top: 30px;
    font-weight: 800;
}

.text{
    text-align: center;
    margin-top: 30px;
}


.container{
    margin-top: 20px;

}

.container::after{
    content: "";
    clear: both;
    display: table;
}

.card{
    background-color:#0F0E17 ;
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 20px 10px;
    color: white;
    font-size: 10px;
    height: 80px;
}

.photo{
    float: left;
    height: 80px;
    margin-right: 5px;
}

a[href]{
    text-decoration: none;
    color: #0096FF;
}

h2, p{
    margin: 10px;
    
}

div.card::after{
    content: "";
    clear: both;
    display: table;
}